Source: chntpw
Section: admin
Priority: optional
Maintainer: Javier Fernandez-Sanguino Pen~a <jfs@computer.org>
Build-Depends: debhelper (>> 5.0.0), libgcrypt11-dev | libgcrypt-dev, sharutils, quilt
Standards-Version: 3.7.3
Homepage: http://home.eunet.no/~pnordahl/ntpasswd/

Package: chntpw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NT SAM password recovery utility
 This little program provides a way to view information and
 change user passwords in a Windows NT/2000 user database file.
 Old passwords need not be known since they are overwritten.
 In addition it also contains a simple registry editor 
 (same size data writes) and an hex-editor which enables you to
 fiddle around with bits and bytes in the file as you wish.
 .
 If you want GNU/Linux boot disks for offline password recovery
 you can add this utility to custom image disks or use those provided
 at the tools homepage.
